<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">CipherRobot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Home<span class="sr-only">(current)</span></a>
    </div>
  </div>
  
  <div class="nav navbar-nav navbar-right">
    <div><a href="#" class="btn"><i class="fa fa-sign-in"></i><span class="btnlabel">Sign in</span></a></div>
    <div><a href="#" class="btn"><i class="fa fa-sign-out"></i><span class="btnlabel">Logout</span></a></div>
  </div>
</nav>

