<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="main">
    <div class="mainInputArea">
      <!-- <input type="text" class="mainInput"> -->
      <textarea id="mainInput"  [ngModel]="mainInput" (change)="changeText($event)" class="mainInput" rows="7" cols="135" placeholder="Type here"></textarea>
    </div>
    <div class="btnArea">
      <select [(ngModel)]="algorithm" id="algorithm">
          <option value="" disabled selected>Select a Algorithm</option>
          <option *ngFor="let item of algorithms" [value]="item">{{item}}</option>
        </select>
      <button class="encryptbtn" value="Encrypt" (click)="handleEncryptClick($event)">Encrypt</button>
      <button class="decryptbtn" value="Decrypt" (click)="handleDecryptClick($event)">Decrypt</button>
    </div>

    <div class="mainData">
      <div class="tableName">Data:</div>
    <div class="tableMain">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Encrypted Text</th>
            <th scope="col">Key</th>
            <th scope="col">Algorithm</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        
        <tbody class="tbody">
            <tr *ngFor="let dataEntity of dataEntities; let i=index;" (click)="handleRowClick($event,dataEntity.id)">
              <th scope="row">{{i+1}}</th>
              <td style="overflow: auto;">{{dataEntity.text.length>20 ? dataEntity.text.substring(0,20)+'...':dataEntity.text}}</td>
              <td>{{dataEntity.key}}</td>
              <td>{{dataEntity.algorithm}}</td>
              <td>{{dataEntity.userName}}</td>
            </tr>
        </tbody>
      
      </table>
    </div>
  </div>

</div>